<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient List</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-3 text-center">
    <div class="card">
        <div class="card-header text text-primary">Patient List</div>
        <div class="card-body">
            <form class="d-flex mb-3" th:action="@{/index}" method="get">
                <input type="text" name="keyword" class="form-control me-2" placeholder="Search by name" th:value="${keyword}">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date Of Birth</th>
                    <th>Health</th>
                    <th>Score</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patient : ${patients}">
                    <td th:text="${patient.id}"></td>
                    <td th:text="${patient.name}"></td>
                    <td th:text="${patient.birthDate}"></td>
                    <td th:text="${patient.sick}"></td>
                    <td th:text="${patient.score}"></td>
                    <td>
                        <a th:href="@{'/delete/' + ${patient.id} + '?keyword=' + ${keyword} + '&page=' + ${currentPage}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Pagination Bar  -->
            <ul class="nav nav-pills d-flex justify-content-center flex-wrap gap-1">
                <li th:each="page, status : ${pages}">
                    <a class="btn" th:classappend="${page} == ${currentPage} ? 'btn-primary' : 'btn-outline-primary'"
                       th:href="@{'/index?page=' + ${status.index} + '&keyword=' + ${keyword} }">[[${status.index + 1}]]</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>